# Print function

In [3]:
print("Hello World!!")
print("Python","DataScience",100)

Hello World!!
Python DataScience 100

# Variables

In [11]:
i=5
print(i," ",type(i))
f=1.2
print(f," ",type(f))
s="Guess?"
print(s," ",type(s))

5   <class 'int'>
1.2   <class 'float'>
Guess?   <class 'str'>

In [13]:
# In python we have the flexibility to change the type of a variable[Dynamic Typed Language].
print(i," ",type(i))
i="Coding"
print(i," ",type(i))

5   <class 'int'>
Coding   <class 'str'>

# Basic DataTypes
    a) int
    b) float
    c) string
    d) boolean
    e) none

In [16]:
flag=False
print(flag," ",type(flag))
flag=True
print(flag," ",type(flag))
none=None
print(none," ",type(none))

False   <class 'bool'>
True   <class 'bool'>
None   <class 'NoneType'>

# Input In Python

In [19]:
# In python, the input() function always returns a string value.
name=input("Enter Your Name: ")
print(name," ",type(name))

Enter Your Name: Alex
Alex   <class 'str'>

# TypeCasting

In [25]:
i="5"
print(i," ",type(i))
i=int(i)
print(i," ",type(i))
i=float(i)
print(i," ",type(i))
i=str(i)
print(i," ",type(i))

5   <class 'str'>
5   <class 'int'>
5.0   <class 'float'>
5.0   <class 'str'>

# Operators
    a) Arithmetic: +,-,*,/,//,**,%
    b) Comparison: >,<,>=,<=,==,!=
    c) Logical: and, or, not
    d) Bitwise: &,|,^
    e) Membership: in

In [29]:
# Arithmetic Operators.
num1=10
num2=20
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2) # floor Division.
print(num1**num2)
print(num1%num2)

30
-10
200
0.5
0
100000000000000000000
10

In [30]:
# Comparison Operators.
num1=10
num2=20
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)
print(num1==num2)
print(num1!=num2)

False
True
False
True
False
True

In [31]:
# Logical Operators.
print((10>5) and (8>5))
print((10>5) or (8<5))
print(not(10>5))

True
True
False

In [34]:
# Bitwise Operators.
print(10&4)
print(10|4)
print(10^4)

0
14
14

In [35]:
# Membership Operator.
t="Good"
s="Good Operator"
print(t in s)

True

#  Conditional Statements

In [36]:
# if,elif,else
age=21
if age>=45:
    print("Walkin Vacination")
elif age>=18 and age<=45:
    print("First book vacination slot")
else:
    print("Not eligible for vacination")

First book vacination slot

#  Loops and Iteration

In [44]:
# for loop and while loop

#print all the even numbers from 1 o 20.
i=1
while i<=20:
    if i%2==0:
        print(i,end=",")
    i=i+1
    
print()
# print all the odd numbers from 1 o 20.
for i in range(1,21):
    if i%2!=0:
        print(i,end=",")

2,4,6,8,10,12,14,16,18,20,
1,3,5,7,9,11,13,15,17,19,

In [45]:
# for loop with step size
# range(start,end+1,step)
for i in range(1,11,2):
    print(i,end=",")

1,3,5,7,9,

In [48]:
# Use of break and continue.
for i in range(0,11,2):
    if i==4:
        break
    print(i,end=",")

print()
    
for i in range(0,11,2):
    if i==4:
        continue
    print(i,end=",")

0,2,
0,2,6,8,10,