# Indexing in Numpy Array

In [3]:
# Generate a random 5*4 array will numbers between 10 and 100.
import numpy as np
arr=np.random.randint(10,100,(5,4))
print(arr)

[[89 18 43 79]
 [11 66 51 47]
 [20 80 84 85]
 [57 25 29 63]
 [54 59 10 49]]

In [8]:
# First row
print(arr[0])
# Last row
print(arr[-1])
# Last element
print(arr[-1][-1])
print(arr[-1,-1]) # We can also use ',' to access an element in a 2-D matrix.
# Array element distribution.
print(arr.shape)

[89 18 43 79]
[54 59 10 49]
49
49
(5, 4)

In [9]:
# Array Slicing.
# arr[startRowIdx: endRowIdx+1 , startColIdx: endColIdx+1]
print(arr[2:5,1:4])

[[80 84 85]
 [25 29 63]
 [59 10 49]]

In [10]:
# Masking.
mask=arr>50
print(mask)

[[ True False False  True]
 [False  True  True False]
 [False  True  True  True]
 [ True False False  True]
 [ True  True False False]]

In [13]:
# Number of elements greater than 50. All true value will be added and true will be considered as 1.
print(np.sum(mask))

11

In [14]:
# Get all values greater than 50.
print(arr[mask])

[89 79 66 51 80 84 85 57 63 54 59]

In [15]:
# Make the elements from 3rd row, 3rd col to the end 0.
arr[2: ,2: ]=0
print(arr)

[[89 18 43 79]
 [11 66 51 47]
 [20 80  0  0]
 [57 25  0  0]
 [54 59  0  0]]

# Basic Operations in Arrays

In [25]:
a=np.array([10,20,30,40])
b=np.arange(1,5)
# These operations happen element-wise. These are called element-wise operators.
print(a+b)
print(a-b)
print(a*b)
print(b**2)

[11 22 33 44]
[ 9 18 27 36]
[ 10  40  90 160]
[ 1  4  9 16]

In [24]:
# Mask.
print(a>15)

[False  True  True  True]

In [27]:
# Take log() of all the elements of the Array b.
print(np.log(b))
# Take sin() of all the elements of the Array a.
print(np.sin(a))

[0.         0.69314718 1.09861229 1.38629436]
[-0.54402111  0.91294525 -0.98803162  0.74511316]

#  Matrix Product
    Used heavily in Linear Algebra [Matrices can only be multiplied if the number of cols of first matrix is 
    same as the number of rows of the second matrix].

In [28]:
A=np.random.randint(0,5,(3,4))
B=np.random.randint(0,5,(4,2))

In [30]:
# To multiply two matrices we use '.' It is also known as the Dot product.
print(np.dot(A,B))

[[ 9 16]
 [15 28]
 [13  3]]

In [35]:
A=np.arange(0,24)
print(A.shape)
print(A)
# Reshape the Array A.
A=A.reshape(6,4)
print(A.shape)
print(A)

(24,)
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
(6, 4)
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

In [37]:
np.sqrt(A)

array([[0.        , 1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974, 2.64575131],
       [2.82842712, 3.        , 3.16227766, 3.31662479],
       [3.46410162, 3.60555128, 3.74165739, 3.87298335],
       [4.        , 4.12310563, 4.24264069, 4.35889894],
       [4.47213595, 4.58257569, 4.69041576, 4.79583152]])

In [38]:
np.sum(A)

276

In [39]:
np.max(A)

23

In [40]:
np.min(A)

0

In [41]:
# Mean of the Array A.
np.mean(A)

11.5

In [42]:
# Standard Deviation of the elements.
np.std(A)

6.922186552431729

In [46]:
# Sum of each column.
print(np.sum(A,axis=0))
# Sum of each row.
print(np.sum(A,axis=1))
# Mean of each row.
print(np.mean(A,axis=1))

[60 66 72 78]
[ 6 22 38 54 70 86]
[ 1.5  5.5  9.5 13.5 17.5 21.5]